.profile {
  width: 15rem;
  min-width: 15rem;
}

.profile-header {
  height: 4rem;
}

.profile-info {
  height: 21.5rem;
}

.friend-list {
  height: 5rem;
}

.media-types {
  height: 10rem;
}

.media-type-list {
  height: 6rem;
}
